body {background-color: pink; }
form {background-color: beige; 
      font-family: "Times New Roman", sans-serif; 
      width: 390px; 
      padding: 5px; 
      color: seagreen; }
fieldset {width: 350px; 
          border: 3px solid green;
          padding: 8px; }
legend {font-family: "Times New Roman", sans-serif; 
        font-weight: bold; 
        color: seagreen; }
lable {font-family: "Times New Roman", sans-serif; 
        color: seagreen; }
 h1 {color: seagreen; 
    font-family: "Times New Roman", sans-serif; } 
h2 {color: seagreen; 
    font-family: "Times New Roman", sans-serif; }     
h3 {color: seagreen; 
    font-family: "Times New Roman", sans-serif;} 
p {color: seagreen; 
   font-family: "Times New Roman", sans-serif; }
li {color: seagreen; 
    font-family: "Times New Roman", sans-serif; }